alembic==1.18.4
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
asyncpg==0.31.0
bcrypt==5.0.0
cffi==2.0.0
click==8.4.0
colorama==0.4.6
cryptography==48.0.0
fastapi==0.136.1
greenlet==3.5.0
h11==0.16.0
httpx==0.28.1
idna==3.15
Mako==1.3.12
MarkupSafe==3.0.3
passlib==1.7.4
psycopg2-binary==2.9.12
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
PyJWT==2.12.1
pytest==9.0.3
pytest-asyncio==1.3.0
reportlab==4.5.1
ruff==0.16.4
SQLAlchemy==2.0.49
starlette==1.0.0
supabase==2.30.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.47.0
python-dotenv==1.2.1
Pillow==12.2.0
pre-commit==4.6.2
python-multipart

urolens-ai-engine @ git+https://github.com/urolens-project/urolens-ai-engine.git@develop
